@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono&display=swap');

.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #202020;
}
.project img {
  width:300px;
  height: 300px;

}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffd900;
  color:#202020;
}

.me__container{
  width: 450px;
  height: 50px;
}
.about h2 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 40px;
  color: #202020;
  height: 50px;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: #202020a6;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.soulsimg {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  float: right;
}

.skills h1 {
  color: #202020;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 20px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
