.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 30px;
  color: #202020;
  font-size: 25px;
}
.project img {
  width:250px;
  border-radius: 10px;

}

.project p {
  font-size: 40px;
  color: #202020;
}

.project svg {
  font-size: 60px;
  color: #202020;
}
